In [27]:
import pandas as pd

In [28]:
tmp = pd.read_csv("./metadata/FungiTastic-FewShot/FungiTastic-FewShot-train-metadata-landcover.csv")

In [29]:
tmp

      observationID  landcover
0        3032614316       12.0
1        3052832307       16.0
2        3061954303       17.0
3        3052910309       14.0
4        3052921349       17.0
...             ...        ...
4668     3419919343        1.0
4669     3441332302       17.0
4670     4100093368        1.0
4671     3429079314       17.0
4672     4847339663       17.0

[4673 rows x 2 columns]

In [31]:
tmp[tmp.landcover.isna()]

      observationID  landcover
236      2238489688        NaN
242      2238501450        NaN
270      2238546929        NaN
271      2238547542        NaN
272      2238548270        NaN
...             ...        ...
4371     2238546511        NaN
4375     2238548629        NaN
4442     2285836317        NaN
4447     2351006323        NaN
4450     2425487000        NaN

[61 rows x 2 columns]